*, 
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #111827;
}

.container {
    width: 600px;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 1);
    background-image: url("images/florencia-viadana-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em 0 2.5em;
    color: white;
}

header > h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.05em;
    margin-bottom: 0.2em;
}

header > a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #DBF227;
}


form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    margin: -1em 2.5em 2em 2.5em;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background: white;
    font-weight: 500;
}

.search-icon {
    filter: invert(73%) sepia(15%) saturate(219%) hue-rotate(179deg) brightness(88%) contrast(83%);
    height: 1em;
    margin-left: 1em;
}

form > input {
    border: none;
    text-align: left;
    padding: 0.425em;
    width: 360px;
    color: #6B7280;
    cursor: auto;
}

form > button {
    border: none;
    border-left:  1px solid #D1D5DB;
    background: #F9FAFB;
    height: 2em;
    width: 7.5em;
    cursor: pointer;
}

.initial-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #DFDDDD;
    font-weight: 700;
    letter-spacing: .1rem;
    margin: 8em;
    text-align: center;
}

#initial-icon {
    filter: invert(71%) sepia(85%) saturate(3%) hue-rotate(322deg) brightness(106%) contrast(92%);
    margin-bottom: 1em;
}

.initial-display > a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    color: #363636;
}

.movie-content {
    display: flex; 
    margin: 0 auto;
}

.movie-card{
    letter-spacing: .05rem;
    border-bottom: 1.5px solid #E5E7EB;
    display: grid;
    grid-template-columns: 2.5em 1fr 1em 0.75fr 1fr 1fr 0.75fr 2.5em;
    grid-template-rows: 1em 1.5rem 2.5rem auto 0.1em;
    grid-row-gap: 0.25em;
    height: 200px;
}

.movie-poster { 
    grid-row: 2 / -2;
    grid-column: 2 / 3;
    width: 100%;
}

.movie-title {
    grid-row: 2 / 3;
    grid-column: 4 / 7;
    font-size: 1.125rem;
    font-weight: 500;
}

.movie-rating {
    grid-row: 2 / 3;
    grid-column: 7 / 8;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
}

.movie-runtime {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.movie-genre {
    grid-row: 3 / 4;
    grid-column: 5 / 7;  
}

.movie-runtime, 
.movie-genre {
    font-size: 0.75rem;
    line-height: 1.25em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.movie-card > button {
    font-size: 0.75rem;
    line-height: 1.25em;
}

.addBtn {
    grid-row: 3 / 4;
    grid-column: 7 / 8; 
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    color: #111827;
    font-size: 1em;
    cursor: pointer; 
}

button > img {
    pointer-events: none;
}

.plus-icon,
.remove-icon {
    filter: invert(71%) sepia(85%) saturate(3%) hue-rotate(322deg) brightness(106%) contrast(92%);
}

.plus-icon,
.remove-icon,
.check-icon {
    width: 16px;
    margin-right: 5px;
}

.movie-body {
    grid-row: 4 / 5;
    grid-column: 4 / 8; 
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #6B7280;
}

.empty-watchlist {
    margin-bottom: 2em;
}


@media only screen and (max-width: 480px) {
    .container {
        width: 100vw;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    header > h1 {
        font-size: 2.25em;
        margin-bottom: 0.75em;
    }

    form {
        margin: -1em 1em 0 1em;
    }

    .search-icon {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .movie-card {
        display: grid;
        grid-template-columns: 1em 1fr 1em 1fr 1fr 1fr 1em;
        grid-template-rows: 1em 1rem 1.25rem 1em 130px 1em;
        height: 240px;
    }

    .movie-poster {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        width: 100%;
    }

    .movie-title {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
        font-size: 1.15rem;
        margin-bottom: 0;
    }

    .movie-rating {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }

    .movie-runtime {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .movie-runtime, 
    .movie-genre {
        font-size: 0.8rem;
        line-height: 0.95;
    }

    .movie-genre {
        grid-row: 3 / 4;
        grid-column: 4 / 7;  
    }

    .addBtn {
        grid-row: 2 / 3;
        grid-column: 6 / 7; 
    }

    .movie-body {
        grid-row: 5 / 6;
        grid-column: 4 / 7;
        -webkit-line-clamp: 6;
        line-height: 1.3;
        font-weight: 300;
    } 
    
    .plus-icon,
    .remove-icon,
    .check-icon {
        width: 12px;
        margin-right: 5px;
}
}

